[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/Pydiction"]
	path = vim/bundle/Pydiction
	url = git://github.com/vim-scripts/Pydiction.git
[submodule "emacs/emacs.d/plugin/pony-mode"]
	path = emacs/emacs.d/plugin/pony-mode
	url = git://github.com/davidmiller/pony-mode.git
[submodule "emacs/emacs.d/plugin/yasnippet"]
	path = emacs/emacs.d/plugin/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs/emacs.d/syntax/markdown-mode"]
	path = emacs/emacs.d/syntax/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs/emacs.d/lang/coffee-mode"]
	path = emacs/emacs.d/lang/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs/emacs.d/colors/theme-solarized"]
	path = emacs/emacs.d/colors/theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
